html > body {
	background: rgba(250,250,250,.5);
	font: 400 12px 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial';
}

/** Required for top fixed navbar **/
body {
  padding-top: 64px;
}
@media screen and (min-width: 768px) {
  body {
    padding-top: 60px;
  }
}
/** End requirement **/

header > .navbar .navbar-brand {
	background-image: url("/resources/images/logo.svg") !important;
	background-repeat: no-repeat;
	background-size: 100px auto;
	background-position: center;
	min-height: 40px;
	min-width: 130px;
	text-indent: -99999px;
}

.navbar .nav li {
	margin: 5px 0;
}

.navbar-nav > li > a {
	padding: 10px 15px;
}

.navbar [class^="icon-"],
.navbar [class*=" icon-"] {
	line-height: 20px;	
}

ul.list-inline > li, 
ol.list-inline > li {
	padding-left: 0;
	padding-right: 0;
}

.ui-dialog .ui-dialog-content,
.ui-dialog.ui-widget-content .ui-dialog-content {
	padding: 0;
}

.dropdown-menu .ui-widget {
	font-size: inherit;
}

.ui-growl {
	top : 60px;
}

.form-actions.navbar-fixed-bottom,
.navbar-fixed-bottom.form-actions {
	padding: 0;
}

.form-actions.navbar-fixed-bottom .actions,
.navbar-fixed-bottom.form-actions .actions {
	margin: 5px;
}

.form-actions .actions .btn,
.form-actions .actions .m-btn {
    margin: 0 .2rem;
}

.form-actions.navbar-fixed-bottom {
	margin-bottom: 0;
}


.panel .panel {
	margin-top: 20px;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.content-404 .message-404 {
	background: url('/resources/images/404.png') top center no-repeat transparent;
	text-align: center;
	margin-top: 20px;
	padding-top: 355px;
}

/* Remove rounded borders of datatables headers*/
.ui-state-default[role=columnheader],
.ui-widget-content .ui-state-default[role=columnheader],
.ui-widget-header .ui-state-default[role=columnheader] {
	border-radius: 0;
}

/* Customize highlight of selected items */
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background: rgba(77,144,254,.9);
    color: #FFFFFF;
    text-decoration: none;
}

/* Reset font-size for PF textarea */
.ui-inputtextarea {
	font-size: 14px;
}

/* Reset right padding for PF spinner */
input.ui-spinner-input {
	padding-right: 20px;
}

/* Reset border-sizing for PF icons */
[class*=" ui-icon"], [class*=" ui-helper-"], [class^="ui-helper-"], .ui-selectonemenu .ui-selectonemenu-trigger {
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}


/* Hide selectable column from datatable in phone view */
.ui-selection-column {
	display: none;
}

/* Restore selectable column from datatable for 'not phone' devices  */
@media (min-width: 768px) {
	.ui-selection-column {
		display: table-cell;
	}
}

.wysihtml5-sandbox {
	min-height: 100px;
	overflow: auto;
}

.btn .caret {
	border-top-color: #333;